<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lizard</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='naama.png') }}">

</head>
<body style="background-image:url(static/wallpaper.jpg); color:#F26B6B">
  {% extends "index.html" %}
    {% block content %}
<h1 style="font:Arial; color:#F26B6B; size: 45", align="center">Lizard Website!</h1>
<h3 style="font:Arial; color:#F26B6B", align="center"> New social network dedicated to the art you make!</br>
Join now our community and be a part of the biggest art piece
</h3>
<center><img src="static/naama.png"  alt="Lizard Symbol" width="300" height="300">
</center>
</body>
{% endblock %}


</html>