<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lizard</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='naama.png') }}">
</head>
<body style="background-image:url(static/wallpaper.jpg); color:#F26B6B">
    <center>    <strong><nav>
            <a href="{{ url_for('home') }}" style="color:#F26B6B;text-decoration: none; font-size:xxx-large;float:center">   About &nbsp; &nbsp;</a>
            <a href="{{ url_for('Logout') }}"style="color:#F26B6B;text-decoration: none; font-size:xxx-large;float:center">   Logout &nbsp;&nbsp;</a>
            <a href="{{ url_for('foryou') }}"style="color:#F26B6B;text-decoration: none; font-size:xxx-large;float:center">   For You &nbsp;&nbsp;</a>
            <a href="{{ url_for('PersonalArea') }}" style="color:#F26B6B;text-decoration: none; font-size:xxx-large;float:center">   Personal Area &nbsp; &nbsp;</a>
            <a href="{{ url_for('Search') }}"style="color:#F26B6B;text-decoration: none; font-size:xxx-large;float:center">   Search &nbsp;&nbsp;</a>

        </nav></strong>

    </br></br></br>

    <form  name="search" id="search" method="post" action="" >
         Username: <input type="text" name="username" id="username" />
         <input style="align-content:center" type="submit" name="submit" value="הכנס" />

    </form>
                {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
</center>

</body>
</html>